<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" @*no purpose of using this href="/Home"*@>
                <img src="/favicon.ico" alt="Logo" />
                Carnival
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li><button onclick="location.href='@Url.Action("Index", "Home")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Home" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("About", "Home")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="About" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Contact", "Home")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Contact" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Index", "Customers")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Customers" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Index", "Stalls")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Stalls" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Index", "Food_Products")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Food" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Index", "FoodStallRelationships")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Food/Stalls" data-hover-text-new="Hello"></button></li>
                    <li><button onclick="location.href='@Url.Action("Index", "Orders")'" class="nav-link btn btn-link btn-borderlayout" data-hover-text="Orders" data-hover-text-new="Hello"></button></li>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav flex-grow-1" style="padding-left:350px">
           @if (User.Identity.IsAuthenticated)
            {
                <div id="tooltip">
                    <li><span class="nav-link btn btn-link btn-borderlayout">Dear - @User.Identity.Name</span></li>
                    <span id="tooltipText">Your Dashboard</span>
                </div>
                <li><button onclick="location.href='@Url.Action("Logout", "Logins")'" class="nav-link btn btn-link btn-borderlayout">Logout</button></li>
            }
            else
            {
                <li style="margin-left: 350px;"><button onclick="location.href='@Url.Action("Login", "Logins")'" class="nav-link btn btn-link btn-borderlayout">Login</button></li>
            }
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Carnival Stall Program</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>

<style>
    .btn-borderlayout {
        border: 2px solid;
        border-color: deepskyblue;
        color: white;
        transition: border-color 0.2s ease-in-out;
        margin-right: 10px; /* Adjust the margin value to increase or decrease the spacing */
    }

        .btn-borderlayout::after {
            content: attr(data-hover-text); /* default content */
        }



        .btn-borderlayout:hover {
            border-color: red;
            color: black;
            background-color: yellow;
        }

            .btn-borderlayout:hover::after {
                content: attr(data-hover-text-new); /* new content on hover */
            }
</style>

<style type="text/css">
    #tooltip{
        position:relative;
        cursor:pointer;
        border-bottom:2px dotted;
        font-weight:bold;
        font-family:sans-serif;
    }
    #tooltipText{
        position:absolute;
        left:50%;
        top:0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space:nowrap;
        padding:10px 15px;
        border-radius:7px;
        visibility:hidden;
        opacity:0;
        transition:opacity 1s ease;
    }
    #tooltipText::before{
        content:"";
        position:absolute;
        left:50%;
        top:-65%;
        transform:translateX(-50%);
        border:15px solid;
        border-color:#0000 #0000 #000 #0000;
    }
    #tooltip:hover #tooltipText{
        top:130%;
        visibility:visible;
        opacity:1;
    }
</style>