<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- basic -->
    <!--<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- mobile metas -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">-->
    <!-- site metas -->
    <!--<title>Grand Coffee</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">-->
    <!-- bootstrap css -->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">-->
    <!-- style css -->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">-->
    <!-- Responsive-->
    <!--<link rel="stylesheet" href="~/Content/css/responsive.css">-->
    <!-- fevicon -->
    <!--<link rel="icon" href="images/fevicon.png" type="image/gif" />-->
    <!-- Scrollbar Custom CSS -->
    <!--<link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css">-->
    <!-- Tweaks for older IEs-->
    <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">-->
    <!-- owl stylesheets -->
    <!--<link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">-->

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" @*no purpose of using this href="/Home"*@>
                <img src="/favicon.ico" alt="Logo" />
                Carnival
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" style="white-space: nowrap;">
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Home")'" class="nav-link btn btn-link btn-borderlayout">Home</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("About", "Home")'" class="nav-link btn btn-link btn-borderlayout">About</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Contact", "Home")'" class="nav-link btn btn-link btn-borderlayout">Contact Us</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Customers")'" class="nav-link btn btn-link btn-borderlayout">Customers</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Stalls")'" class="nav-link btn btn-link btn-borderlayout">Stalls</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Food_Products")'" class="nav-link btn btn-link btn-borderlayout">Food</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "FoodStallRelationships")'" class="nav-link btn btn-link btn-borderlayout">Food/Stalls</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Orders")'" class="nav-link btn btn-link btn-borderlayout">Orders</button></li>
                    <li><button style="width:100px;" onclick="location.href='@Url.Action("FoodPics", "Randoms")'" class="nav-link btn btn-link btn-borderlayout">Food Pics</button></li>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav flex-grow-1" style="padding-left:350px">
            @if (User.Identity.IsAuthenticated)
            {
                <div id="tooltip">
                    <li><span id="username" class="nav-link btn btn-link">Dear - @User.Identity.Name</span></li>
                    <span id="tooltipText"><a onclick="func1()">Your Dashboard</a></span>
                </div>
                <li><button onclick="location.href='@Url.Action("Logout", "Logins")'" class="nav-link btn btn-link btn-borderlayout">Logout</button></li>
            }
            else
            {
                <li style="margin-left: 130px;"><button onclick="location.href='@Url.Action("Login", "Logins")'" class="nav-link btn btn-link btn-borderlayout">Login</button></li>
            }
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
        <hr  style="width:1903px;"/>
        @*<div class="footer_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">About</h3>
                        <p class="footer_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h3 class="useful_text">Menu</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/Home/Index">Home</a></li>
                                <li><a href="/Home/About">About Us</a></li>
                                <li><a href="/Orders/Index">Orders</a></li>
                                <li><a href="/Randoms/FoodPics">Menu</a></li>
                                <li><a href="/Home/Contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="useful_text">Useful Link</h1>
                        <p class="dummy_text">Adipiscing Elit, sed do Eiusmod Tempor incididunt </p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="useful_text">Contact Us</h1>
                        <div class="location_text">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Loram Ipusm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +01 1234567890</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : demo@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <footer>
            <p>&copy; @DateTime.Now.Year - My Carnival Program</p>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark" style="width:1903px; height:500px;">
                <div class="container" style="margin-left:0px;">
                    <a class="navbar-brand" @*no purpose of using this href="/Home"*@ style="margin-left:0px;">
                        <img src="/favicon.ico" alt="Logo" />
                        Carnival
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <section class="col-md-4" aria-labelledby="gettingStartedTitle" style="color: white; width: 250px; padding: 20px; text-align:left;">
                        <h2 id="aboutus">About Us</h2>
                        <p style="text-align:justify;">
                            Celebrate at the carnival with thrilling rides, tasty treats, lively performances, and exciting games. It's a vibrant event that caters to all ages and interests. Experience adventure, indulge in delicious food, be entertained by talented performers, and create lasting memories. Join us for a joyous and unforgettable celebration of fun and excitement.
                        </p>
                        <p><a class="btn btn-outline-dark btn-borderlayout" href="/Home/About">Learn more &raquo;</a></p>
                    </section>
                    <section class="col-md-4" aria-labelledby="librariesTitle" style="color: white; width: 250px; padding: 20px; text-align: left;">
                        <h2 id="contactus">Contact Us</h2>
                        <p style="text-align:justify;">Thank you for your interest in the carnival! If you have any questions, feedback, or would like to get in touch with us, we're here to help. Celebrate with us at the carnival, where you'll find a world of thrilling rides, tasty treats, lively performances, and exciting games.</p>
                        <p><a class="btn btn-outline-dark btn-borderlayout" href="/Home/Contact">Learn more &raquo;</a></p>
                    </section>
                    <section class="col-md-4" aria-labelledby="hostingTitle" style="color: white; width: 250px; padding: 20px; text-align: left;">
                        <h2 id="food">Food</h2>
                        <p style="text-align:justify;">Indulge in a mouthwatering feast at the carnival's food section. From classic favorites like cotton candy and popcorn to savory treats like corn dogs and nachos, our wide selection of delicious delights will satisfy your cravings. Treat your taste buds to an unforgettable culinary experience at the carnival!</p>
                        <p><a class="btn btn-outline-dark btn-borderlayout" href="/Food_Products">Learn more &raquo;</a></p>
                    </section>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" style="white-space:nowrap;">
                            <div style="margin-left:150px;">
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Home")'" class="nav-link btn btn-link btn-borderlayout">Home</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("About", "Home")'" class="nav-link btn btn-link btn-borderlayout">About</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Contact", "Home")'" class="nav-link btn btn-link btn-borderlayout">Contact Us</button></li>
                            </div>
                            <div>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Customers")'" class="nav-link btn btn-link btn-borderlayout">Customers</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Stalls")'" class="nav-link btn btn-link btn-borderlayout">Stalls</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Food_Products")'" class="nav-link btn btn-link btn-borderlayout">Food</button></li>
                            </div>
                            <div>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "FoodStallRelationships")'" class="nav-link btn btn-link btn-borderlayout">Food/Stalls</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("Index", "Orders")'" class="nav-link btn btn-link btn-borderlayout">Orders</button></li>
                                <li style="padding:10px;"><button style="width:100px;" onclick="location.href='@Url.Action("FoodPics", "Randoms")'" class="nav-link btn btn-link btn-borderlayout">Food Pics</button></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $("#username").ready(function () {
            $("#username").css('border', '2px solid');
            $("#username").css('border-color', 'deepskyblue');
            $("#username").css('transition', 'border-color 0.2s ease-in-out');
            $("#username").css('color', '#98FF98');
            $("#username").css('margin-right', '10px');
            $("#username").css('background-color', 'lightslategray');
        });

        $("#username").mouseenter(function () {
            $("#username").css('border-color', 'red');
            $("#username").css('color', 'black');
            $("#username").css('background-color', 'yellow');
        });

        $("#username").mouseleave(function () {
            $("#username").css('border', '2px solid');
            $("#username").css('border-color', 'deepskyblue');
            $("#username").css('transition', 'border-color 0.2s ease-in-out');
            $("#username").css('color', '#98FF98');
            $("#username").css('margin-right', '10px');
            $("#username").css('background-color', 'lightslategray');
        });

        $("#tooltipText").click(function () {
            window.location.href = '/Home/Contact'
        });
    </script>

    <!-- Javascript files-->
    <!--<script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/js/plugin.js"></script>-->
    <!-- sidebar -->
    <!--<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/custom.js"></script>-->

</body>
</html>

<style>
    .btn-borderlayout {
        background-color:lightslategray;
        border: 2px solid;
        border-color: deepskyblue;
        color: white;
        transition: border-color 0.2s ease-in-out;
        margin-right: 10px; /* Adjust the margin value to increase or decrease the spacing */
    }
        .btn-borderlayout:hover {
            border-color: red;
            color: black;
            background-color: yellow;
        }
</style>

<style type="text/css">
    #tooltip{
        position:relative;
        cursor:pointer;
        border-bottom:2px dotted;
        font-weight:bold;
        font-family:sans-serif;
    }
    #tooltipText{
        position:absolute;
        left:50%;
        top:0;
        transform: translateX(-50%);
        background-color: #000;
        color: #fff;
        white-space:nowrap;
        padding:10px 15px;
        border-radius:7px;
        visibility:hidden;
        opacity:0;
        transition:opacity 0.5s ease;
    }
    #tooltipText::before{
        content:"";
        position:absolute;
        left:50%;
        top:-65%;
        transform:translateX(-50%);
        border:15px solid;
        border-color:#0000 #0000 #000 #0000;
    }
    #tooltip:hover #tooltipText{
        top:130%;
        visibility:visible;
        opacity:1;
    }
</style>