@model Carnival.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stall.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stall.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit", new { id = Model.OrderID })'" class="btn btn-default btn-border">Edit</button>
    <button onclick="location.href='@Url.Action("Index")'" class="btn btn-default btn-border">Back to List</button>
</p>

<style>
    .btn-border {
        border: 2px solid #000;
        color: black;
        background-color: white;
        transition: box-shadow 0.3s ease-in-out, color 0.2s ease-in-out, background-color 0.3s ease-in-out;
    }

        .btn-border:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the opacity and blur to make it darker */
            color: white;
            background-color: black;
        }
</style>